-
	//-Resolutions and sizes values for article images
	var articleResolutions = [320, 450, 520, 680, 768, 992, 1200];
	var articleSizes = [
		["max-width: 992px", "33.3vw"],
		"100vw"
	];
-
	//-Resolutions and sizes values for article images
	var linksResolutions = [320, 450, 520, 680, 768, 992, 1200];
	var linksSizes = [
		"50vw"
	];

	//-Count number for slider class
- var sliderCount = 0;
- var tabInd = 1;